{% extends 'base.html.twig' %}

{% block title %}Accueil - Express.com{% endblock %}

{% block body %}
{{ include("partials/title_section.html.twig", {'name':'Accueil'}) }}

    <div class="container">
        Bonjour
    </div>

{% endblock %}
